<ion-content  padding>
  <form [formGroup]="credentialsForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3></h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="email" placeholder="Username" [formControl]="credentialsForm.controls['username']" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" [formControl]="credentialsForm.controls['password']" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <button ion-button block color="primary" type="submit" [disabled]="credentialsForm.invalid"  (click)="login(credentialsForm)" >Iniciar Sesión</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>