<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->


  <br />
  <!-- Main Card start -->
  <ion-card>
      <ion-card-header style="background-color:#14b6ad">
          <h1 class="card-title text-white"><b>Serial</b></h1>
      </ion-card-header>
      <ion-card-content>
          <!-- Control Board start -->
          <ion-col class="col-12">
              <ion-card>
                  <ion-card-header style="background-color:#ebfbfa">
                      <h4 class="my-0 text-primary">Escanear dispositivo</h4>
                  </ion-card-header>
                  <ion-card-content>
                      <br>
                      <ion-row>
                          <ion-col></ion-col>
                          <ion-col><button ion-button block (click)="scan()">SCAN</button></ion-col>
                          <ion-col><button ion-button block (click)="openPort()" *ngIf="!port"
                                  [disabled]="!selectedPortId">OPEN</button></ion-col>
                          <ion-col></ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col></ion-col>
                          <ion-col></ion-col>
                          <ion-col><button ion-button block color="danger" (click)="closePort()" *ngIf="port"
                                  [disabled]="!port">CLOSE</button></ion-col>
                          <ion-col></ion-col>
                          <ion-col></ion-col>
                      </ion-row>
                      <ion-list>
                          <ion-item>
                              <ion-input style="background-color:#ebfbfa" color="primary" [(ngModel)]="command" type="text" placeholder="Command"></ion-input>
                              <ion-item>
                              <button ion-button block (click)="send()"
                              [disabled]="(!command) || (!port) || (timeout)" class="btn btn-primary btn-lg mx-1"> </button>
                          </ion-item>
                               
                              
                          </ion-item>
                          <ion-item>
                              <button ion-button block (click)="auto()" [disabled]="(!command) || (!port)"
                                  class="btn btn-warning btn-lg mx-1">
                                  <b>AUTO</b>
                              </button>
                          </ion-item>
                      </ion-list>
                  </ion-card-content>
              </ion-card>
          </ion-col>
          <!-- Control Board end -->
          <br />
          <!-- Available Ports start -->
          <div class="col-md-12 col-lg-12">
              <div class="card">
                  <div class="card-header" style="background-color:#ebfbfa">
                      <div *ngIf="!selectedPortId; else selected">
                          <h4 class="my-0 text-warning">Available Ports</h4>
                      </div>
                      <ng-template #selected>
                          <h4 class="my-0 text-success">Selected Port</h4>
                      </ng-template>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class="text-left">
                                  <tr>
                                      <th>{{ tableData.headerRow[0] }}</th>
                                      <th>{{ tableData.headerRow[1] }}</th>
                                      <th>{{ tableData.headerRow[2] }}</th>
                                      <th>{{ tableData.headerRow[3] }}</th>
                                      <th>{{ tableData.headerRow[4] }}</th>
                                  </tr>
                              </thead>
                              <tbody class="text-left">
                                  <tr *ngFor="let row of tableData.dataRows">
                                      <td>{{row.id}}</td>
                                      <td><a href="javascript:void(0)"
                                              (click)="getPort($event)"><b>{{row.comName}}</b></a></td>
                                      <td>{{row.manufacturer}}</td>
                                      <td>{{row.vendorId}}</td>
                                      <td>{{row.productId}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Available Ports end -->
          <br />
          <!-- Log Screen start -->
          <div class="col-md-12 col-lg-12">
              <div class="card">
                  <div class="card-header" style="background-color:#ebfbfa">
                      <h4 class="my-0 text-primary">Screen</h4>
                  </div>
                  <div class="card-body">
                      <textarea [(ngModel)]="screen" rows="3" style="font-size:20px"
                          class="form-control py-2 font-weight-bold text-monospace text-white bg-dark text-center">
                  </textarea>
                  </div>
              </div>
          </div>
          <!-- Log Screen end -->
      </ion-card-content>
  </ion-card>
  <br>
  <button ion-button block (click)="getusers()"></button>
  <!-- Main Card end -->
</ion-content>
