<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
        <ion-grid>
                <ion-row>
                    
                  <ion-col col-4 > <!--*ngFor="let item of dashboardConfig"-->
                      <highcharts-chart
                    [Highcharts]="Highcharts" 

                    [options]="chartOptions"
                    [callbackFunction]="chartCallback" 
                   
                    style="width: 100%; height: 250px; display: block;"
                  ></highcharts-chart>
                </ion-col>
                </ion-row>
           

                 
              </ion-grid>
    
 


</ion-content>