// // http://ionicframework.com/docs/theming/


// // App Global Sass
// // --------------------------------------------------
// // Put style rules here that you want to apply globally. These
// // styles are for the entire app and not just one component.
// // Additionally, this file can be also used as an entry point
// // to import other Sass files to be included in the output CSS.
// //
// // Shared Sass variables, which can be used to adjust Ionic's
// // default Sass variables, belong in "theme/variables.scss".
// //
// // To declare rules for a specific mode, create a child rule
// // for the .md, .ios, or .wp mode classes. The mode class is
// // automatically applied to the <body> element in the app.
// page-menu{

//     ion-menu ion-content {
//         background: #2F323A !important;
//         margin:0; 
//         position:relative;
//         height:100vh;
//         overflow-y: unset;
//     }     
//     .scroll-content {
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         position: absolute;
//         z-index: 1;
//         display: block;
//         overflow-x: hidden;
//         overflow-y: hidden !important; 
//         -webkit-overflow-scrolling: touch;
//         will-change: scroll-position;
//         contain: size style layout;
//     } 
 
  
//     ion-avatar img {
//         width: 150px !important;
//         height: 150px !important;
//         border-radius: 50%;
//         display: block;
//         margin-left: auto;
//         margin-right: auto;
//     }
//     .MyList{
//         background-color: #2F323A;
//         color : #2F323A !important;
//         box-shadow : 0px 6px 10px #888888;
//     }
// }