<ion-menu type="push" [content]="content">
  <ion-header color="primary">
 
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <!-- <ion-avatar item-start>
        <img src="https://www.w3schools.com/howto/img_paris.jpg">
      </ion-avatar> -->

    </ion-toolbar>
 
  </ion-header>

  <ion-content>
 

      <ion-list >
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
 
    <ion-footer>

      <button class="colorFooter" ion-item (click)="logout()">
        Logout
      </button>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content persistent="true"></ion-nav>